/* https://precss.io/ja/ */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ly_header {
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);

  height: 60px;
  display: flex;
  text-align: center;
  align-items: center;
}
.ly_header_inner {
  max-width: 1230px;
  padding: 0px 30px;
  font-size: 1.5rem;
}
.ly_side-nav_container {
  /* width: 80px; */
}
.ly_side-nav_items {
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 80px;
  border-left: solid 1px;
  padding: 0px 10px;
}

.test-main {
  display: flex;
  justify-content: space-between;
}
.brandnew {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.player-props {
  /* background-color: white; */
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
	overflow: auto;
}
.term-1 {
  background-color: rgb(246, 212, 216);
}
.term-2 {
  background-color: rgb(252, 241, 211);
}
.term-3 {
  background-color: rgb(238, 245, 211);
}
.term-4 {
  background-color: rgb(200, 239, 234);
}
.term-5 {
  background-color: rgb(203, 230, 243)
}
ul li{
  display: block;
  position: relative;
  float: left;
  width: 30px;
  padding: 10px 15px;
}
ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}
ul li label{
  display: block;
  position: relative;
  /* margin: 10px auto; */
  /* height: 15px; */
  cursor: pointer;
  transition: all 0.25s linear;
}
ul li:hover label {
	color: #777;
}

ul li .check{
  display: block;
  position: relative;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 15px;
  width: 15px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}
li:hover input[type=radio][value="white"] ~ label > .check {
  border: 5px solid rgb(0, 200, 50);
}
li:hover input[type=radio][value="gray"] ~ label > .check {
  border: 5px solid rgb(200, 180, 0);
}
li:hover input[type=radio][value="black"] ~ label > .check {
  border: 5px solid rgb(252, 90, 90);
}
li:hover .check {
  border: 5px solid #000;
}
ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 7.5px;
  width: 7.5px;
  top: 3.75px;
	left: 3.75px;
  margin: auto;
	transition: background-color 0.25s linear;
}

input[type=radio][value="white"]:checked ~ label > .check {
  border: 5px solid green;
}
input[type=radio][value="gray"]:checked ~ label > .check {
  border: 5px solid yellow;
}
input[type=radio][value="black"]:checked ~ label > .check {
  border: 5px solid red;
}

input[type=radio][value="white"]:checked ~ label > .check::before{
  background: green;
}
input[type=radio][value="gray"]:checked ~ label > .check::before{
  background: yellow;
}
input[type=radio][value="black"]:checked ~ label > .check::before{
  background: red;
}
input[type=radio]:checked ~ label{
  color: #0DFF92;
}
.crew-status-link, .black-link, .blue-link, .brown-link, .cyan-link, .green-link, .lime-link
, .orange-link, .pink-link, .purple-link, .red-link, .white-link, .yellow-link {
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}
.black-link {
  color: black;
}
.blue-link {
  color: blue;
}
.brown-link {
  color: brown;
} 
.cyan-link {
  color: rgb(33, 218, 218);
}
.green-link {
  color: green;
} 
.lime-link {
  color: rgb(27, 226, 27);
}
.orange-link {
  color: orange;
} 
.pink-link {
  color: rgb(250, 161, 176);
}
.purple-link {
  color: purple;
} 
.red-link {
  color: red;
} 
.white-link {
  color: #999;
} 
.yellow-link {
  color: rgb(209, 209, 0);
}
.crew-status-link {
  background-color: #777;
}
.crew-status-life {
  color: #fff;
}
.crew-status-button {
  color: #fff;
}

.bl_header_title span{
  text-shadow: 0.5px 0 0 #fff,0 0.5px 0 #fff,-0.5px 0 0 #fff,0 -0.5px 0 #fff,2px 1px 0 #fff;
  color: rgb(252, 80, 0);
}

.bl_main{
  background-color: #F6F4F4;
}

.bl_crew--row {
  min-width: 100px;
}
.bl_crew--row_range {
  width: 100%;
}
.bl_term_row:nth-child(odd) {
  background-color: rgba(206, 208, 245, 0.5);
}
.bl_term_row:nth-child(even) {
  background-color: rgba(211, 210, 172, 0.8);
}
.bl_main_head {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0,0,0,.3);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: ghostwhite;
  z-index: 2;
}
.bl_main_head_button {
  max-width: 50px;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.bl_crew--headline {
  height: 220px;
  width: 80%;
  padding: 10px 10% 0 10%;
}

.bl_select-player {
  display: flex;
  background-color: bisque;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bl_terms_table {
  background-color: rgb(255, 255, 255);
}
.bl_term_row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  border-top: 1px solid rgba(0,0,0, .5);
}
.bl_term_col_head {
  max-width: 50px;
  min-width: 50px;
}
.bl_term_cell_wrapper {
  height: 150px;
}
.bl_term_cell {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}




.img-mask {
  mask-image: radial-gradient(rgba(0, 0, 0, 0.26), transparent 100%);
}