/* https://precss.io/ja/ */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ly_header {
  background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
  height: 60px;
  display: flex;
  text-align: center;
  align-items: center;
}
.ly_header_inner {
  max-width: 1230px;
  padding-right: 50px;
  padding-left: 50px;
  font-size: 1.5rem;
}
.bl_header_title {
  color: #fff;
}

.bl_main{
  background-color: azure;
}

.bl_crew--row {
  min-width: 100px;
}
.bl_crew--row_range {
  width: 100%;
}
.bl_term_row:nth-child(odd) {
  background-color: rgba(206, 208, 245, 0.5);
}
.bl_term_row:nth-child(even) {
  background-color: rgba(211, 210, 172, 0.8);
}
.bl_main_head {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(0,0,0,.3);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: ghostwhite;
  z-index: 2;
}
.bl_main_head_button {
  max-width: 50px;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.bl_crew--headline {
  height: 220px;
  width: 80%;
  padding: 10px 10% 0 10%;
}

.bl_select-player {
  display: flex;
  background-color: bisque;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bl_terms_table {
  background-color: rgb(255, 255, 255);
}
.bl_term_row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  border-top: 1px solid rgba(0,0,0, .5);
}
.bl_term_col_head {
  max-width: 50px;
  min-width: 50px;
}
.bl_term_cell_wrapper {
  height: 150px;
}
.bl_term_cell {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}




.img-mask {
  mask-image: radial-gradient(rgba(0, 0, 0, 0.26), transparent 100%);
}